header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav a {
    display: block;
    text-align: center;
    
}
header img {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    
}
footer {
    display: block;
    text-align: right;
    margin-right: 20px;
}
